.button-container {
  display: flex;
  margin-bottom: 20px;
  width: 103px;
  height: 46px;

  .button-back {
    &:global(.btn),
    &:global(.btn-secondary) {
      color: #1e1e1e;
      background-color: #d9d9d9;
      border: 1;
      border-color: 767676;
      border-radius: 8px;
      font-size: 16px;
      font-weight: 500;
      width: 100%;
    }

    &:hover {
      background-color: #adadad;
    }
  }
}

.active-tab {
  display: flex;
  margin-bottom: 20px;
  width: 380px;
  height: 42px;
  gap: 10px;
}

.metric-tab-primary,
.standard-tab-primary {
  &:global(.btn),
  &:global(.btn-primary) {
    color: #fff;
    background-color: #285a81;
    border: 0;
    border-radius: 8px 8px 0 0;
    font-size: 16px;
    font-weight: bold;
    width: 100%;
    padding: 10px;
  }

  &:hover {
    background-color: #0085ff;
  }
}

.metric-tab-secondary,
.standard-tab-secondary {
  &:global(.btn),
  &:global(.btn-secondary) {
    color: #285a81;
    background-color: #cce7ff;
    border: 0;
    border-radius: 8px 8px 0 0;
    font-size: 16px;
    font-weight: 500;
    width: 100%;
  }

  &:hover {
    background-color: rgb(106, 203, 233);
  }
}

.card-title {
  font-size: 18px;
  font-weight: bold;
  color: #285a81;
}

.destination-card {
  padding: 10px;
  border-radius: 8px 8px 0 0;
}

.passenger-card {
  padding: 10px;
  border-radius: 0;
}

.passenger-info {
  display: flex;
  justify-content: space-between;
  align-items: center;

  .passenger-title {
    white-space: nowrap; /* Prevent text from wrapping to the next line */
    font-weight: bold;
    color: #285a81;
    text-transform: uppercase;
  }

  .passenger-content {
    font-weight: 500;
    color: #285a81;
    text-transform: uppercase;
  }
}

.cabin-card {
  padding: 10px;
  border-radius: 0 0 8px 8px;
}

.cabin-info {
  display: flex;
  justify-content: flex-start; /* Center items */
  align-items: center;
  gap: 220px; /* Adjust space between items */

  .cabin-title {
    white-space: nowrap; /* Prevent text from wrapping to the next line */
    font-weight: bold;
    color: #285a81;
    text-transform: uppercase;
  }

  .cabin-content {
    font-weight: 500;
    color: #285a81;
    text-transform: uppercase;
  }
}
