.button-container {
  display: flex;
  margin-bottom: 20px;
  width: 103px;
  height: 46px;

  .button-back {
    &:global(.btn),
    &:global(.btn-secondary) {
      color: #1e1e1e;
      background-color: #d9d9d9;
      border: 1;
      border-color: 767676;
      border-radius: 8px;
      font-size: 16px;
      font-weight: 500;
      width: 100%;
    }

    &:hover {
      background-color: #adadad;
    }
  }

  .back-label-icon {
    display: flex;
    gap: 4px;
    justify-content: center;
  }
}

.active-tab {
  display: flex;
  margin-bottom: 20px;
  width: 380px;
  height: 42px;
  gap: 10px;
}

.metric-tab-primary,
.standard-tab-primary {
  &:global(.btn),
  &:global(.btn-primary) {
    color: #fff;
    background-color: #285a81;
    border: 0;
    border-radius: 8px 8px 0 0;
    font-size: 16px;
    font-weight: bold;
    width: 100%;
    padding: 10px;
  }

  &:hover {
    background-color: rgb(18, 60, 99);
  }

  &:active {
    background-color: #39719b !important;
  }
}

.metric-tab-secondary,
.standard-tab-secondary {
  &:global(.btn),
  &:global(.btn-secondary) {
    color: #285a81;
    background-color: #cce7ff;
    border: 0;
    border-radius: 8px 8px 0 0;
    font-size: 16px;
    font-weight: 500;
    width: 100%;
  }

  &:hover {
    background-color: rgb(106, 203, 233);
  }
}

/* Media query for mobile */
@media (max-width: 576px) {
  .active-tab {
    display: flex;
    margin-bottom: 20px;
    width: 360px;
    height: 42px;
    gap: 10px;
    justify-content: center !important;
  }
}
