.origin-airport-label-container,
.dest-airport-label-container,
.number-of-passenger-label,
.cabin-class-label,
.trip-label {
  display: flex;
  gap: 4px;
  color: #285a81;
  font-size: 16px;
  font-weight: 700;
}

.button-group {
  display: flex;
  flex-wrap: wrap;
  width: max-content;
  gap: 8px;
}

.button-add-destination {
  &:global(.btn),
  &:global(.btn-primary) {
    width: 211px;
    background-color: #cce7ff;
    border-color: #969696;
    color: #285a81;
    font-size: 16px;
    font-weight: 600;
  }

  &:hover {
    background-color: #afceea;
    color: #285a81;
  }

  .add-destination-label-icon {
    display: flex;
    gap: 4px;
    justify-content: center;
  }
}

.button-delete-location {
  &:global(.btn),
  &:global(.btn-danger) {
    width: 211px;
    background-color: #ffd0db;
    border-color: #ff3465;
    color: #812828;
    font-size: 16px;
    font-weight: 600;
  }

  &:hover {
    background-color: #e5bac5;
    color: #812828;
  }

  .delete-location-label-icon {
    display: flex;
    gap: 4px;
    justify-content: center;
  }
}

.trip-button {
  display: flex;
  width: 100%;
  gap: 8px;
}

.button-one-way,
.button-calculate {
  &:global(.btn),
  &:global(.btn-primary) {
    width: 100%;
    background-color: #285a81;
    border-color: #285a81;
    color: #ffff;
    font-size: 16px;
    font-weight: 600;
  }

  &:active {
    background-color: #39719b !important;
  }

  &:hover {
    background-color: rgb(18, 60, 99);
  }
}

.button-round-trip {
  &:global(.btn),
  &:global(.btn-primary) {
    width: 100%;
    background-color: #cce7ff;
    border-color: #969696;
    color: #285a81;
    font-size: 16px;
    font-weight: 600;
  }

  &:active {
    background-color: #39719b !important;
  }

  &:hover {
    background-color: #afceea;
    color: #285a81;
  }
}

@media (max-width: 768px) {
  .button-group {
    width: 100%;
  }
  .button-add-destination {
    &:global(.btn),
    &:global(.btn-primary) {
      width: 100%;
    }
  }

  .button-delete-location {
    &:global(.btn),
    &:global(.btn-danger) {
      width: 100%;
    }
  }
}

@media (max-width: 576px) {
  .button-group {
    width: 100%;
  }
  button-add-destination {
    &:global(.btn),
    &:global(.btn-primary) {
      width: 100%;
    }
  }

  .button-delete-location {
    &:global(.btn),
    &:global(.btn-danger) {
      width: 100%;
    }
  }
}
